{% load static %}
{% include 'main.html' %}

{% block content %}

<div class="container">
            <h1 class="header">
                Сервис по сокращению ссылок
            </h1>
            
            <div class="button-section">
                <button class="main-button"><a href="{% url 'generate' %}">Сократить ссылку</a></button>
            </div>
        </div>
        <div class="image-container">
            <svg class="image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><path d="M256 192l-39.5-39.5c4.9-12.6 7.5-26.2 7.5-40.5C224 50.1 173.9 0 112 0S0 50.1 0 112s50.1 112 112 112c14.3 0 27.9-2.7 40.5-7.5L192 256l-39.5 39.5c-12.6-4.9-26.2-7.5-40.5-7.5C50.1 288 0 338.1 0 400s50.1 112 112 112s112-50.1 112-112c0-14.3-2.7-27.9-7.5-40.5L499.2 76.8c7.1-7.1 7.1-18.5 0-25.6c-28.3-28.3-74.1-28.3-102.4 0L256 192zm22.6 150.6L396.8 460.8c28.3 28.3 74.1 28.3 102.4 0c7.1-7.1 7.1-18.5 0-25.6L342.6 278.6l-64 64zM64 112a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm48 240a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
        </div>
    </div>
</div>

{% endblock %}

<style>

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Comfortaa", sans-serif;
}

.header {
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  color: #333;
  font-size: 45px;
}

.button-section {
  text-align: center;
  margin-top: 60px;
}

.main-button {
  background-color: #5da2d5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 250px;
  transition: transform 500ms ease;
}

.main-button a {
  text-decoration: none;
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  
}

.main-button:hover {
    transform: scale(1.2);
}

.image-container {
    text-align: center;
}

.image {
    margin-top: 50px;
    height: 300px;
    width: 300px;
    fill: #333;
}
</style>