{% include 'base.html' %}
{% block content %}

<div class="form_container">
    <h1 id="form-title">Запрос на смену пароля выслан</h1>
    <p>Мы отправили тебе инструкцию по смене пароля. Проверь свою почту.</p>
    <p>Если вдруг письмо не получено, проверь папку "Спам", а также убедись, что аккаунт с таким почтовым ящиком существует</p>
</div>
{% endblock %}

<style>
.form_container {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>