{% include 'base.html' %}
{% block content %}

<div class="form_container">
    <h1 id="form-title">Сброс пароля</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <h3>Введите ваш адрес электронной почты:</h3>
        <input class="email-input" type="email" name="email" placeholder="Адрес электронной почты">
        <div class="button-section">
            <input class="button" type="submit" value="Выслать письмо">
        </div>
    </form>
</div>
{% endblock %}

<style>
    .form_container {
        width: 90%;
        margin: 0 auto;
        padding: 0 20px;
        font-family: "Comfortaa", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .email-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: "Comfortaa", sans-serif;
    }
    
    .button-section {
        text-align: center;
        margin-top: 40px;
    }
    
    .button {
        background-color: #5da2d5;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        height: 50px;
        width: 180px;
        transition: transform 500ms ease;
        font-family: "Comfortaa", sans-serif;
    }
    
    .button:hover {
        transform: scale(1.2);
    }
    </style>
    